In [ ]:
# List is a data structure because it can store multiple data types
# List are mutable(it means it can be altered. e,g: add, alter)
# List are stored in [] seprate by comma(,)
# List is a sequence of elements

a = [1,2,3,4,'hello',True, 4.64]
# type(a)
print(a)

[1, 2, 3, 4, 'hello', True, 4.64]

In [ ]:
print(a[0])
print(a[3])
print(a[-1])
# a[4]
print(a[4])

1
4
4.64
hello

In [ ]:
a = [1,2,3,[1,2,3,'hello'],'rohan']
print(a[3][3]) # Nested list
print(a[2])
print(a[3][0])

hello
3
1

In [ ]:
# List slicing
a = [1,2,3,4,5,6,7]
print(a[2:5:2])

[3, 5]

In [ ]:
# concatenation of list
a = [1,2,3,4,5]
b = [4,5,6,7]
# to make permanent storage will assign a new variable
c = a+b
print(c) # It will take common elements as well, but it is not permanent storage

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [ ]:
# List methods
a = [1,2,3,4,5]
a.append('rahul')
print(a) # permanent storage

[1, 2, 3, 4, 5, 'rahul']

In [ ]:
# append add element at the end of the listt
a = [1,2,3,4,5]
b = [4,5,6,7]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [4, 5, 6, 7]]

In [ ]:
# extend method will create a permanent storage without creating a nested list
a = [1,2,3,4,5]
b = [4,5,6,7]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [ ]:
a = [1,2,3,4,5,3,4,5,7]
print(len(a))

9

In [ ]:
a = [1,2,3,4,100,99]
print(min(a))

1

In [ ]:
a = [1,2,3,4,100,99,'a','b','c']
print(min(a)) # it will throw error because we can't compare the int with alphabet

In [ ]:
a = ['a','b','z']
print(max(a))

z

In [ ]:
# ascending
a = [1,2,5,4,9,8]
print(sorted(a)) # it does not arranged permanent
# print(a)

# descending
print(sorted(a,reverse=True))

a.sort() # permanent change
print(a)

[1, 2, 4, 5, 8, 9]
[9, 8, 5, 4, 2, 1]
[1, 2, 4, 5, 8, 9]

In [ ]:
a = [1,2,3,4,5,'a','raju']
a.pop(3) # remove last element in the list, if index specified returns from the index
print(a)

a.remove(2) # remove the element of your choice
print(a)

# difference between remove and pop?

[1, 2, 3, 5, 'a', 'raju']
[1, 3, 5, 'a', 'raju']

In [ ]:
a = [1,2,3,4,4,5]
a.reverse()
print(a)

b = [12,34,56]
b[::-1]

[5, 4, 4, 3, 2, 1]

[56, 34, 12]

In [ ]:
################### TUPLE ###################
# tuple are immutable
a =(1,2,3,4,5)
type(a)
# print(a)

# print(a[0]) # indexing
# print(a[0:]) # slicing

(1, 2, 3, 4, 5)

In [ ]:

# Immutability
a = [1,2,3,4]
a[0]=100
print(a)

b = (1,2,3,4)
b[0]=100
print(b)

[100, 2, 3, 4]

TypeError: 'tuple' object does not support item assignment

In [ ]:
# How to change indexing in tuple?
# change the tuple into list and then tuple
a = (1,2,3,4)
b = list(a)
print(b)
b[0] = 100
c = tuple(b)
print(c)

[1, 2, 3, 4]
(100, 2, 3, 4)

In [ ]:
# use to make pair with the list
a = ['rajesh','wagle']
b = ['harshad','aggarwal']
print((zip(a,b))) # it gives directory location
print(list(zip(a,b)))
print(tuple(zip(a,b)))

<zip object at 0x7f7179c95f40>
[('rajesh', 'harshad'), ('wagle', 'aggarwal')]
(('rajesh', 'harshad'), ('wagle', 'aggarwal'))

In [ ]:
############### SET ##############
# set is unordered collection of element
# set can't have duplicate
# set can be cretaed empty by using curly braces {}
# mutable like list

In [ ]:
a = {1,2,3,4}
print(a)
# print(a[0]) # no indexing in the set so error

# add will add the value at random index
a.add('name')
print(a)

{1, 2, 3, 4}
{1, 2, 3, 4, 'name'}

In [ ]:
a = {1,2,3,4,5}
b = {4,6,7}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
a = {1,2,3,4}
a.remove(3)
print(a)

{1, 2, 4}

In [ ]:
a = {1,2,3,'naman','Naman'}
print(a)

{1, 2, 3, 'Naman', 'naman'}

In [ ]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.union(b))


print(a.intersection(b))

print(a.difference(b))
print(b.difference(a))

print(a^(b)) # remove common element and give us the remaining element, symmetric differnce(^)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [ ]:
########### DICTIONARIES ###############
# dictionary are the mappig of key value pair
# {key:value}

a = {'name':['Hardik','aayushi'],'gender':['male','female']}
type(a)

print(a.keys())
print(a.values())

print(a['name'])
print(a['gender'])

# Q-How to find keys using values?

dict_keys(['name', 'gender'])
dict_values([['Hardik', 'aayushi'], ['male', 'female']])
['Hardik', 'aayushi']
['male', 'female']

In [ ]:
print(a.items())

dict_items([('name', ['Hardik', 'aayushi']), ('gender', ['male', 'female'])])

In [ ]:
a ['name'] = 'raman' # if the key is same and value is updated it will replace the original value in the dictionary
print(a)

a['Name'] = 'sharma' # if key is different it will add it to the end of dictionary
print(a)

{'name': 'raman', 'gender': ['male', 'female'], 'Name': 'sharma'}
{'name': 'raman', 'gender': ['male', 'female'], 'Name': 'sharma'}

In [ ]:
b = {'age':'10','nation':'india','name':'anant'}
a.update(b)
print(b)
print(a)

{'age': '10', 'nation': 'india', 'name': 'anant'}
{'name': 'anant', 'gender': ['male', 'female'], 'Name': 'sharma', 'age': '10', 'nation': 'india'}

In [ ]:
country = ['India','japan','uk']
city = ['delhi','punjab','udaipur']
print(dict(zip(country,city)))

{'India': 'delhi', 'japan': 'punjab', 'uk': 'udaipur'}

In [ ]:
a = {'name':'Hardik','gender':'male'}
print(a.pop('name'))
print(a)

Hardik
{'gender': 'male'}

In [ ]:
##### IF-ELSE #####
a = "Raj"

if(a=="Mohan"):
  print("welcome mohan")
elif(a=="Raj"):
  print("Welcome raj")
else:
  print("welcome guest")

Welcome raj

In [ ]:
# write a program to tell whether the given number is even or odd
# n = int(input("Enter the number"))
n = 10
if(n%2==0):
  print("Even")
else:
  print("odd")

Even

In [ ]:
###### FOR LOOP ######
a = ['mohan','sohan','rohan','shyam']
for i in a:
  print("Welcome",i)

Welcome mohan
Welcome sohan
Welcome rohan
Welcome shyam

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print("The square are: ")
k = []
for i in a:
  k.append(i*i)
print(k)
for i in k:
  if(i%2==0):
    print(i)
  else:
    print("")

The square are:
[1, 4, 9, 16, 25, 36, 49, 64, 81]

4

16

36

64

In [ ]:
# (H.W.) prime number between 1 and 100

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
e = []
o = []
for i in a:
  if(i%2==0):
    e.append(i**2)
  else:
    o.append(i**3)

print(e)
print(o)

[4, 16, 36, 64]
[1, 27, 125, 343, 729]

In [ ]:
####### RANGE #######
list = []
for i in range(1,1001):
  list.append(i)

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [ ]:
a = "I am the one who knocks"
for i in a:
  if i in["o","h"]:
    print(i)

h
o
h
o
o

In [ ]:
a = "I am the one who knocks"
L = a.split()
for i in L:
  print(i)

I
am
the
one
who
knocks

In [ ]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
for i in days:
  # print(i[:-3])
  print(i.replace('day'," "))
print(i)

Mon
Tues
Wednes
Thurs
Fri
Satur
Sun
Sunday

In [ ]:
# dict1 = (('name': '[anant]'), [('gender': ['male']), ('Name': ['sharma']), ('age': ['10']), ('nation': 'india')])
# for i in dict1:
#   print(i)

In [ ]:
######### WHILE LOOP ########
a = 10
while(a<15):
  print(a)
  a = a+1
else:
  print("ok")

10
11
12
13
14
ok

In [ ]:
# A = list(range(1,1001))
# print(A)

TypeError: 'list' object is not callable